.chats-container {
    display: flex;
    flex-direction: column;
}

/* POTENTIAL SECTION */
.potential-section {
    display: flex;
    gap: 1rem;
    justify-content: start;
    align-items: center;
    padding: 0.5rem;

    overflow-y: hidden; /* Enable vertical scrolling */
    overflow-x: auto; /* Hide horizontal scrollbar */
}
.potential-section .potential-element {
    position: relative;

    font-size: 0.75rem;

    background-color: var(--secondary-color);
    padding: 0.25rem 0.75rem;
    border: 1px solid var(--main-color);
    border-radius: 1rem;

    cursor: pointer;

    margin-bottom: 0.5rem;
}

/* CHATS SECTION */
.chats-section {
    display: flex;
}

.chats-list {
    width: 25%;
}

.list-scrollable {
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100vh - 80px - 5rem);
    padding: 0.25rem 1rem 0rem 0.25rem;
}

.chat-item {
    display: flex;
    justify-content: start;
    align-items: center;

    position: relative;

    font-size: 0.85rem;

    gap: 1rem;
    background-color: var(--secondary-color);
    padding: 0.75rem;
    margin-bottom: 0.5rem;
    border: 1px solid var(--main-color);
    border-radius: 1rem;

    cursor: pointer;
}

.chat-icon {
    color: var(--main-color);
    font-size: 1.75rem;
}

.chat-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.chat-text {
    font-size: 0.75rem;
    margin-bottom: 0.25rem;
}

.chat-time {
    text-align: right;
    font-size: 0.6rem;
}

.chat-notification {
    position: absolute;
    bottom: -5px;
    right: -5px;
    background-color: var(--main-color);
    color: white;
    border-radius: 50%;
    padding: 3px 8px;
    font-size: 12px;
}

.chat-live {
    position: absolute;
    top: -5px;
    left: -5px;
    background-color: rgb(14, 197, 14);
    width: 15px;
    height: 15px;
    border-radius: 50%;

    z-index: 999;
}

.top-right {
    top: -5px;
    right: -5px;
}

.bottom-right {
    bottom: -5px;
    right: -5px;
}

.chat-messages {
    background-color: var(--secondary-color);

    height: calc(100vh - 80px - 5rem);
    width: 100%;

    padding: 1rem;
    margin-top: 0.25rem;
    border: 1px solid var(--main-color);
    border-radius: 1rem;

    display: flex;
    flex-direction: column;

    position: relative;
}

.chat-message {
    padding: 1rem;
    margin-top: 0.75rem;

    background-color: var(--main-bg-color);
    border-radius: 1rem;
}

.chat-message > p {
    font-size: 0.7rem;
}

.chat-sender {
    background-color: var(-main-color);

    margin-left: auto;
    margin-right: 1rem;
    width: fit-content;
    max-width: 70%;

    text-align: right;
}

.chat-recipient {
    background-color: var(--main-color);

    margin-right: auto;
    width: fit-content;
    max-width: 70%;
}

.chat-input {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;

    background-color: white;
    border: none;
    border-radius: 1rem;
    padding: 1rem;
}

.chat-input:focus {
    outline: none !important;
    border: 1px solid var(--main-bg-color);
    box-shadow: 0 0 10px #719ece;
}

.chat-send {
    position: absolute;
    bottom: 12px;
    right: 20px;

    color: var(--main-color);
    background-color: white;
    border: none;

    font-size: 2rem;

    transition: 0.3s;
}

.chat-send:hover {
    color: var(--secondary-color);
}

.chat-scrollable {
    overflow-y: auto;

    margin-top: 1.5rem;
    margin-bottom: 4rem;
}
