.chats-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* POTENTIAL SECTION */
.potential-section {
    display: flex;
    gap: 1rem;
    justify-content: start;
    align-items: center;
}
.potential-section .potential-element {
    position: relative;

    background-color: var(--secondary-color);
    padding: 1rem;
    border: 1px solid var(--main-color);
    border-radius: 1rem;

    cursor: pointer;
}

/* CHATS SECTION */
.chats-section {
    display: flex;
    gap: 1rem;
}

.chats-list {
    width: 25%;
}

.chat-item {
    display: flex;
    justify-content: start;
    align-items: center;

    position: relative;

    gap: 1rem;
    background-color: var(--secondary-color);
    padding: 1rem;
    margin-bottom: 0.5rem;
    border: 1px solid var(--main-color);
    border-radius: 1rem;

    cursor: pointer;
}

.chat-icon {
    color: var(--main-color);
    font-size: 1.75rem;
}

.chat-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.chat-time {
    text-align: right;
}

.chat-notification {
    position: absolute;
    bottom: -5px;
    right: -5px;
    background-color: var(--main-color);
    color: white;
    border-radius: 50%;
    padding: 3px 8px;
    font-size: 12px;
}

.chat-live {
    position: absolute;
    top: -5px;
    left: -5px;
    background-color: rgb(14, 197, 14);
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.top-right {
    top: -5px;
    right: -5px;
}

.bottom-right {
    bottom: -5px;
    right: -5px;
}

.chat-messages {
    background-color: var(--secondary-color);

    height: calc(100vh - 80px - 5rem);
    width: 100%;

    padding: 1rem;
    border: 1px solid var(--main-color);
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
}

.chat-message {
    padding: 1rem;
    margin-top: 0.75rem;

    background-color: var(--main-bg-color);
    border-radius: 1rem;
}

.chat-sender {
    background-color: var(-main-color);

    margin-left: auto;
    width: fit-content;
}

.chat-recipient {
    background-color: var(--main-color);

    margin-right: auto;
    width: fit-content;
}
