#navigation {
    display: flex;
    padding: 1rem 4rem;

    background-color: var(--main-color);
}

.navigation-logo {
    width: 15%;
}

.navigation-logo > a {
    font-size: 2rem;
}

.navigation-controls {
    width: 85%;

    gap: 1.75rem;
    display: flex;
    justify-content: end;
    align-items: center;

    font-size: 1.25rem;
}

.notification-parrent {
    position: absolute;
}
.notification {
    position: relative;
    top: -15px;

    background-color: red;
    border: none;
    color: white;
    font-size: 0.85rem;

    text-decoration: none;
    padding: 0.25rem 0.5rem;
    border-radius: 50%;
}
