#navigation {
    display: flex;
    padding: 1rem 4rem;

    background-color: var(--main-color);
}

.navigation-logo {
    width: 15%;
}

.navigation-logo > a {
    font-size: 2rem;
}

.navigation-controls {
    width: 85%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1rem;
}
