.messages-container {
    display: flex;
    gap: 1rem;
}

.messages-list {
    width: 25%;
}

.user-item {
    background-color: var(--secondary-color);
    padding: 1rem;
    margin-bottom: 0.5rem;
    border: 1px solid var(--main-color);
    border-radius: 1rem;
}

.chat {
    background-color: var(--secondary-color);

    height: calc(100vh - 80px - 2rem);
    width: 100%;

    border: 1px solid var(--main-color);
    border-radius: 1rem;
}
